

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
canvas{
    border: 1px solid #eee;
    margin: 0px 50px;
}

.color-box{
    width: 100px;
    height: 100px;
    display: inline-block;
}
















